* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  background: 100vh;
  height: auto;
}

.logo{
  height: 60px;
  background: #575656;
  margin-bottom: 50px;
  position: relative;
}
.logo a{
  display: flex;
  color: #e2dce773;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 50px;
}

.logo a:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: #9b3beb;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 3px solid #9b3beb;
  width: 0%;
  transition-duration: 1s;
  overflow: hidden;
  white-space: nowrap;
}

.logo a:hover:before{
  width: 100%;
}


.searchForm {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;

}

form .search {
  outline: none;
  border-radius: 7px;
  width: 225px;
  height: 30px;
  padding: 10px;
  border: 1px solid #d45fe8;
  margin-right: 10px;
  color: black;
  box-shadow: 2px 2px 5px #4a197373;
}

.btn-search{
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background: white;
  border: 1px solid #d777e7;
  color: #82478f;
  box-shadow: 2px 2px 5px #4a197373;
}
.btn-search:hover{
  box-shadow: 3px 3px 20px #4a197373;
}

.search:focus {
  border: 1px solid #7c0490;
}

.select {
  border: 1px solid #d777e7;
  background: white;
  padding: 5px;
  border-radius: 7px;
  color: #82478f;
  outline: none;
  margin-right: 10px;
  box-shadow: 2px 2px 5px #4a197373;
}

.mySlides {
  display: none;
  position: relative;
  height: 400px;
}

.image {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px #4a197373;
}


.numbertext{
  position: absolute;
  top: 10px;
  left: 10px;
}

.indicator {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 7px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0,50%);
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: none;
}

.prev:hover, .next:hover{
  background: rgba(211, 205, 205,.4);
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* start dialog */
.clear{
  clear: both;
}
dialog{
height: 550px;
background-color: white;
width: 100%;
font-family: 'Roboto';
border:none;

}
.title{
  
  text-align: center;
}
.content{
  width: 40%;
  float: left;
  height: auto;
}
iframe{
  float: right;
  width: 40%;
  height: 90%;
  margin:1% ;
}
.discription{
  margin:15%;
  line-height: 1.5;
}
.info{
  line-height: 1.2;
  height: 40%;
  width:100%;
  float:left;
}
.content{
  overflow: hidden;
}
.content img{
  width:440px;
  height: 220px;
  margin-top:10px;
}
.divwidth{
  width: 100%;
text-align: center;
}
.discription{
  line-height: 1.5;
  padding-bottom: 2px;
}
span{
  margin-right: 1.5%;
}
span br{
  margin-bottom: 5px;
}
hr {
  display: block;
  margin-top: 0.3em;
  border-style: inset;
  border-width: 1px;
  margin-left: 2%;
  margin-bottom: -50px;
}
.close{
  position:absolute;
 
  background:transparent;
  bottom:40px;
  right:25%;
  left:50%;
  padding: 8px 25px;
  border:1px solid black;
}

@media(max-width:1000px){
  .content img{
    margin-left: 15px;
    width:330px;
    height: 220px;
    margin-top:10px;
  }
}
@media(max-width:750px){
  *{
    margin: 0;
    padding: 0;
  }
  .info{
    line-height: 2;
    height: 40%;
    width:100%;
    float:left;
  }
  .content img{
   display: none;
  }

  .content{
    width: 100%;
  }
  iframe{
    
    width: 100%;
    height: 40%;
  
  }
  
  .info{
    line-height: 2;
    height: 40%;
  
  }
  
  .discription{
    line-height: 1.5;
    padding-bottom: 2px;
  }
  span{
    margin-right: 0%;
  }
  hr {
    display: block;
    margin-top: 0.3em;
    border-style: inset;
    border-width: 1px;
    margin-left: 2%;
  }


}

/* End dialog */
.more_Detalis{
    margin-top: -50px;
    position: absolute;
    left: 50%;
    transform: translate(-50px);
}
.btn_more_Detalis{
  background: #41043be3;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: #faf4f4;
}

@media (max-width: 600px) {
  form .search {
    width: 150px;
  }
  form{
    margin: 0 15px;
  }
}
/* start list of photo  */
 .source_news{
   position:absolute;
   bottom: 50px;
   left: 100px;
   color: white;
  cursor: pointer;
} 

.results_container{
  margin: 50px auto;
  width: 85%;
}
.source_result 
{
  margin-bottom: 15px;
  width: 100%;
  background-color: #DDD;
  display: inline-block;
  border-bottom: 1px solid #DDd;
}
.source_result img {
  width: 200px;
  float: left;
}
.btn_source{
  float: right;
  margin-right: 50px;
  margin: 40px;
  padding: 5px 10px;
  color: white;
  background-color:#7c0490;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9b3beb;
}
.title_source{
padding: 40px;
display: inline-block;

}

/* end list of photo */